{% extends 'properties/base.html' %}

{% block title %}{{block.super}}{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="search col-md-12 jumbotron">
			<h3>Procure seu imóvel</h3>
			<div>
				<form method="GET">
					<input type="text" name="search" placeholder="Procure seu imovel por Endereço, Bairo, Cidade ou Estado" value="{{ request.GET.search }}"></input>
					<button type="submit"><i class="fa fa-search"></i> BUSCAR</button>
				</form>
			</div>
		</div>
		<h3><strong>Últimas ofertas</strong></h3>
		{% if not properties %}
		<div class="empty col-md-12">
			<h1>Não há ofertas anunciadas no momento.</h1>
		</div>
		{% else %}
		{% for property in properties %}
		<div class="property col-md-4 col-xs-12 col-lg-4">
			<a href="{{ property.get_absolute_url }}">
				<h3>{{ property.title }}</h3>
			</a>
			<div class="thumbnail col-md-6">
				{% if property.image %}
					<img src="{{ property.image.url }}" class='img-responsive'/>
				{% endif %}
			</div>
			<div class="col-md-6 property-info">
				<h4>{{ property.property_type }}</h4>
				<small>{{ property.category }}</small>
				<p><strong>R$ {{ property.rent_price|floatformat:2 }}</strong></p>
				<p><i class="glyphicon glyphicon-map-marker"></i> {{ property.city }} - {{ property.district }}</p>
				<p><spam>{{ property.rooms }} dorms</spam> | <spam>{{ property.total_area }}m²</spam></p>
				<p class="owner">{{ property.owner|upper }}</p>
			</div>
		</div>
		{% endfor%}
		{% endif %}
	</div>
</div>
{% endblock content %}