{% extends 'properties/base.html' %}

{% block title%}{{block.super}}| Anuncie seu imovel {% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-1">
				<p><a href="{% url "index" %}">← Voltar</a></p>
				<h2>Anuncie seu imóvel</h2>
				<form action='' method='POST' enctype="multipart/form-data">{% csrf_token %}
					{{ form.as_p }}
					<input class="btn btn-success" type="submit" value="Anunciar imóvel" />
				</form>
			</div>
		</div>
	</div>
	
{% endblock content %}