{% extends 'properties/base.html' %}

{% block title %}{{block.super}} | {{ property.title }} {% endblock title %}

{% load humanize %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="main col-md-8">
				<div class="col-md-12">
					<img src="{{ property.image.url }}" class='img-responsive'>
				</div>
				<div class="clearfix col-md-12 property-location">
					<div class="col-md-8 pull-left">
					<h1 class="pull-left">
						<span class="subtitle">{{ property.property_type }} {{ property.category }}</span>
						<br>
						<p class="property-address">
							{{ property.address }}
						</p>
						<p class="property-location">
							{{ property.district}}, {{ property.city}} - {{ property.state }}
						</p>
					</h1>
					</div>
					<div class="col-md-4 property-value">
						<h3>Valor do aluguel</h3>
						<span><strong>R$ {{ property.rent_price|floatformat:2|intcomma}}</strong></span>
					</div>
				</div>
				<div class="col-md-12 property-details">
					<ul class="list-inline">
						<li>
							<p>{{ property.rooms }}</p>
							<span class="info">QUARTOS</span>
						</li>
						<li>
							<p>{{ property.util_area }}</p>
							<span class="info">ÁREA ÚTIL (M²)</span>
						</li>
					</ul>
				</div>
				<div class="col-md-12 property-info">
					<h1>{{ property.title }}</h1>
					<h3>Descrição</h3>
					<p>{{ property.description }}</p>
				</div>
			</div>
			<aside class="sidebar col-md-4">
				
			</aside>
		</div>
	</div>
{% endblock content %}