* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.search input {
	width: 40%;
	padding: 10px;
}

.search button {
	padding: 10px;
	font-weight: bold;
}

header {
	margin-bottom: 30px;
}

header h3 a {
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
}

header h3 a:hover {
	text-decoration: none;
	color: white;
}

header ul {
	padding: 1rem 0 1rem 0;
	margin-top: 1.5rem;
}

header ul a {
	color: white;
}

header ul a:hover {
	text-decoration: none;
}

header ul p {
	color: white;
}

.property h4 {
	margin: 0;
}

.property a:hover {
	text-decoration: none;
}

.owner {
	color: #bdc3c7;
}

.messages {
	list-style: none;
}

.login-form {
	padding-bottom: 30px;
	-webkit-box-shadow: 5px 8px 30px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 5px 8px 30px 0px rgba(0,0,0,0.44);
	box-shadow: 5px 8px 30px 0px rgba(0,0,0,0.44);
}

.form-input {
	width: 100%;
	display: block;
	padding: 0.7em;
	border-radius: 4px;
	border: 1px solid #bdc3c7;
}

.form-input p, .register-tip {
	text-align: center;
	margin: 0.9em 0 0 0;
}

.signup-form {
	padding: 1.5em;
	margin-bottom: 2em;
	-webkit-box-shadow: 5px 8px 30px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 5px 8px 30px 0px rgba(0,0,0,0.44);
	box-shadow: 5px 8px 30px 0px rgba(0,0,0,0.44);
}

.signup-form h1 {
	text-align: center;
	font-size: 2.5em;
	margin: 0;
}

.signup-form h4 {
	font-size: 1.5em;
	color: #7f8c8d;
	text-align: center;
	margin-bottom: 1em;
}

.signup-form .helptext {
	display: block;
	font-size: small;
	color: #bdc3c7;
}

.signup-form ul {
	list-style: none;
}

.signup-form ul li {
	color: red;
	font-weight: bolder;
	font-size: 0.9em;
}

.signup-confirm p {
	text-align: center;
}

.signup-confirm h1 {
	text-align: center;
	font-weight: bold;
}