{% extends 'properties/base.html' %}

{% block title %}{{ block.super }} | Login {% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="login-form col-md-5 col-md-offset-3">
			<h1>Login</h1>
			<form method="POST" action="{% url 'login_user' %}">{% csrf_token %}
				{% if next %}
				<input type="hidden" class="form-input" name="next" value="{{ next }}">
				{% endif %}
				<p>
					<input type="text" class="form-input" id="username" name="username" placeholder="Nome de usuário">
				</p>
				<p>
					<input type="password" class="form-input" id="password" name="password" placeholder="Senha" />
				</p>
				<button type="submit" class="btn btn-block btn-success">Entrar</button>
				<p class="register-tip">
					Ainda não tem conta? <a href="{% url 'register' %}">Cadastre-se!</a>
				</p>
			</form>
		</div>
	</div>
</div>

{% endblock %}