{% extends 'properties/base.html' %}
{% block title %}{{ block.super }} | Informações da conta {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Minha conta</h4>
			<hr>
			<h5><strong>Informações da conta</strong></h5>
			<p><spam class="acc-info">Nome de usuário:</spam> {{ user.username }}</p>
			<p><spam class="acc-info">Email:</spam> {{ user.email }}</p>
			<hr>
			<h5><strong>Informações pessoais</strong></h5>
			<p><spam class="acc-info">Nome:</spam> {{ user.first_name }}</p>
			<p><spam class="acc-info">Sobrenome:</spam> {{ user.last_name }}</p>
		</div>
	</div>
</div>
{% endblock %}