{% extends 'properties/base.html' %}
{% block title %}{{ block.super }} | Crie sua conta! {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="signup-form col-md-5 col-md-offset-3">
			<h1>Encontre as melhores ofertas de imóveis</h1>
			<h4> A casa dos seus sonhos está a um passo de distância.</h4>
			<form action='{{ action }}' method="POST">{% csrf_token %}
				<div class="form-errors col-md-12">
					{% if form.non_field_errors %}
			    	<ul>
			      	{% for error in form.non_field_errors %}
			        	<li>{{ error }}</li>
			      	{% endfor %}
			    	</ul>
			    	{% endif %}
				</div>
				{% for field in form %}
				<p>
					{{ field.errors }}
					{{ field }}
					<span class="helptext">{{ field.help_text }}</span>
				</p>
				{% endfor %}
				<button type="submit" class="btn btn-block btn-success">Cadastrar</button>
			</form>
			<p class="register-tip">
				Já tem uma conta? <a href="{% url 'login_user' %}">Faça login</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}